<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <a class="skip-to-content-link" href="#main">
    Skip to content
  </a>
  <!-- NAVIGASI -->
  <nav class="nav-container">
    <div class="nav-brand">
      <p class="nav-brand-title">
        Delicious Resto
      </p>
    </div>
    <div class="nav-items">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="https://www.facebook.com/nonii.azizah.9" target="_blank">About</a></li>
      </ul>
    </div>
    <div class="nav-items-mobile ">
      <button class="nav-items-mobile-icon" alt="" onclick="toggleMobile()">&#9776;</button>
    </div>
    <div class="nav-items-mobile-content d-none">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="https://www.facebook.com/nonii.azizah.9" target="_blank">About</a></li>
      </ul>
    </div>
  </nav>
  <!-- AKHIR NAVIGASI -->
  <!-- HERO -->
  <section class="hero">
    <div class="hero-content">
      <h1 class="hero-content-title">
        Delicious Restaurant
      </h1>
      <p>Best restaurant menu !</p>
      <a href="#main" style="    background: white;
      padding: 12px;
      padding-left: 25px;
      padding-right: 25px;
      text-decoration: none;
      margin-top: 10px;
      color: orange;
      font-weight: 500;">here</a>
    </div>
    
  </section>
  <!-- AKHIR HERO -->
  
  <!-- RESTAURANT -->
  <section class="restaurant" id="main" style="
      padding-top: 35px;
    ">
    <center>
      <h2>Choose ur Restaurant</h2>
      <br>
    </center>
    <div class="restaurant-container">
        
    </div>
  </section>
  <!-- AKHIR RESTAURANT -->

  <!-- FOOTER -->
  <footer style="background: #eee;
    padding: 15px;
    margin-top: 100px;
    ">
    <center>
      Copyright @2020 Delicious Resto
    </center>
  </footer>
  <!-- AKHIR FOOTER -->



  <!-- SCRIPT -->
  <script>
    
    let init = false;
    function toggleMobile(){
      let content = document.querySelector(".nav-items-mobile-content");
      if(init == false){
        content.classList.remove('d-none')
        init = true;
      }else{
        content.classList.add('d-none')
        init = false;
      }
    }
  </script>
  <!-- AKHIR SCRIPT -->
</body>
</html>
